<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>旋转木马轮播图</title>
	<link rel="stylesheet" href="static/css/carousel.css"/>
	<link rel="stylesheet" href="static/css/header.css"/>
	<link rel="stylesheet" href="static/css/paragragh.css">
</head>
<body>
<div class="h_con">
  <h6 class="h_6">张大春健康观念治疗实战班报名</h6>
  <div class="hcon_div">
  	
  </div>
</div>

<div class="h_nav">
  <ul>
    <li><a href="#f0">首页</a></li>
    <li><a href="#f1">讲师</a></li>
    <li><a href="#f2">线上课程</a></li>
    <li><a href="#f4" title="简介">线下课程</a></li>
    <li><a href="#f5" title="健康观念课程特色">往期课程</a></li>
    <li><a href="#f6" title="精彩课堂">书籍</a></li>
    <li class="nob"><a href="#f11">视频资料</a></li>
  </ul>
</div>


<div class="poster-main" >
	<ul class="poster-list">
		<li class="poster-item"><a href=""><img src="static/images/for_pages/002.png" width="100%" height="100%" /></a></li>
		<li class="poster-item"><a href=""><img src="static/images/for_pages/001.jpg" width="100%" height="100%"/></a></li>
	</ul>
	<div class="poster-prev btn"></div>
	<div class="poster-next btn"></div>
</div>

<div id="f1" class="bdy-cla">

		<div class="left-side-box-1">
			<img height="100%" class="vedio-1" width="500px"  src="static/images/person/9999.jpg"/>
		</div>

		<div class="right-side-box-1">
			<div class="paragragh">
				<p>
					<b><span>张大春</span></b>健康观念治疗创始人，<strong>陕西大春文化传播有限公司</strong>董事长，第十三届世界华人亚太区杰出健康创业教练<strong>金口碑奖</strong>，
					第十三届中国直销风云榜健康产业杰出教育培训<strong>创新导师奖</strong>。
					张大春老师为健康行业打造了一堂神奇的课程,曾获亚太地区健康行业创业教练<strong>金口碑奖</strong>。
					他的课程坚持5不讲：<strong>不讲产品、不讲疾病、不讲中医、不讲西医、不讲治疗方法</strong>。
					他十年间上千场的授课经验，让<ins>70余万人</ins>受益。不论是从业50年多年医生，
					还是经验丰富的<strong>健康从业者</strong>，都被他的观念完全震撼，
					他的课程被<strong>中央电视台</strong>品牌栏目组组长定义为：“健康观念治疗”。
					他励志用后半生的演讲影响<ins>一亿人</ins>，改变<ins>一亿个家庭</ins></p><p><strong>
				<p><span>张莉娜</span></strong>老师是陕西大春文化传播有限公司<strong>联合发起人</strong>
					拥有本公司课程代理和推广的权利，官方授权课程代理，请您放心</p>
				<br/>
				　			<p class="cent_p"><strong>全国报名热线：<big>15691825182</big></strong></p>　
				</p>
			</div>
		</div>
	<div class="clear"></div>
</div>

<div id="f2"  class="bdy-cla">

		<div class="left-side-box-2">
			<div class="paragragh">
				<p class="cent_p">课程介绍</p>
				<p>
					一年<ins>104</ins>堂课，包含<span>张大春</span>老师<ins>52</ins>堂“观念”课及<ins>52</ins>堂“智疗”学员见证，每周二课程更新，找到恢复健康的秘密，每周五学员见证，找到解决健康行业的成长方向。
					一分钟告诉你能学到什么
					你是否存在以下困惑
					是否因邀约困难而团队心灰意冷?
					是否因店面冷清而收入难以为继?
					是否因团队涣散而伙伴流失严重?
					是否因亲人打击，朋友不理解而濒临放弃?
					他用通俗易懂的语言，解读疾病让千万人受益
					如果您是健康从业者，欢迎走进观念治疗课堂
				</p>
				<p>
					讲师介绍
					<span>张大春</span>
					健康观念治疗创始人
					<strong>陕西大春文化传播有限公司</strong>董事长
					第十三届世界华人亚太区杰出健康创业教练金口碑奖
					第十三届中国直销风云榜健康产业杰出教育培训创新导师奖
				</p>
			</div>
		</div>

		<div class="right-side-box-2 ">
			<img height="100%" class="vedio-1" src="static/images/code_na_person.jpg"/>
		</div>
	<div class="clear"></div>
</div>
<div id="f3"  class="bdy-cla">
		<div class="left-side-box-3">
			<video  height="100%" class="vedio-1" controls autoplay="" muted="muted">
				<source src="https://first-bucket-one.oss-cn-beijing.aliyuncs.com/pack01/21min_speach.mp4?Expires=1559038864&OSSAccessKeyId=TMP.AgEDoAtQkX6urjqKr90GIq-8wRiPuUk4jBKwj3nhownn7sgPZUDELqe9atVbADAtAhUAtTK3MDaj6WEc_hFruN9z5hRJA8sCFExs6DSZs1SIsYt1aPNzUtxAp4Mo&Signature=PtG31FldV%2B1Z08pwaCsocFNipXA%3D"  type="video/mp4"/>
			</video>
		</div>
		<div class="right-side-box-3">
			<div class="paragragh">
				<p class="cent_p">线下实战班</p>
				<p class="class_p3">1.<strong>销售五大技巧</strong>：学会无法抗拒销售，无抗拒邀约能力</p>
				<p class="class_p3">2.<strong>店面管理4步骤</strong>：每月实现店面自动进200-1000人</p>
				<p class="class_p3">3.<strong>恢复健康7大要素</strong>：让顾客没有顾虑，愿意主动要产品</p>
				<p class="class_p3">4.<strong>健康行业发展4步骤</strong>：让团队自动进人，彻底解决顾客和伙伴对健康行业的顾虑</p>
				<p class="class_p3">5.<strong>投资健康的7大问题</strong>：如何让所有人不再顾虑价钱</p>
				<p class="class_p3">6.<strong>中西医的12大区别</strong>：为什么我们能调好世界疑难杂症</p>
				<p class="class_p3">7.<strong>健康行业21大致命问题</strong>：快速进新人，高端顾客主动帮您转介绍</p>
				<p class="class_p3">8.<strong>身体语言自检表</strong>：一个快速拓客锁客，建立信任的利器</p>
				<p class="class_p3">9.<strong>实战训练</strong>：克服演讲恐惧，开拓僵化思维，出门知道怎么干</p>

			</div>
		</div>
	<div class="clear"></div>
</div>
<div id="f4"  class="bdy-cla">
		<div class="left-side-box-4">
			<br/><br/><br/><br/><br/><br/>
			<p style="text-align: center;"><span class="alone_span">全国各地学员相聚<strong><span style="font-size: 40px">陕西-西安</span></strong>，两天一夜实战班改变从此开始</span></p>
		</div>
		<div class=" right-side-box-4">
			<video  height="100%" width="100%" class="vedio-1" controls autoplay="" muted="muted">
				<source src="https://first-bucket-one.oss-cn-beijing.aliyuncs.com/pack01/92_part.mp4?Expires=1559038800&OSSAccessKeyId=TMP.AgEDoAtQkX6urjqKr90GIq-8wRiPuUk4jBKwj3nhownn7sgPZUDELqe9atVbADAtAhUAtTK3MDaj6WEc_hFruN9z5hRJA8sCFExs6DSZs1SIsYt1aPNzUtxAp4Mo&Signature=4brCZaBWtGoqkzKqesYZqhBn65o%3D"  type="video/mp4"/>
			</video>
		</div>
	<div class="clear"></div>
</div>
<div id="f5"  class="bdy-cla">
		<div class="left-side-box-5" >
			<img height="100%"  class="vedio-1" src="static/images/book.png"/>
		</div>
		<div class="right-side-box-5">
			<div class="paragragh">
				<br/><br/><br/>
				<p><strong>《健康观念治疗》</strong>书籍特色：把专业变成常识、再把常识变成故事，简将单易懂的健康观念故事编辑成书，是自我学习，服务顾客的工具。</p>
				<p><strong>注：</strong>凭书籍最后一页附带的实战班门票参加实战班，可以享受实战班报名八五折优惠。</p>
			</div>
		</div>
	<div class="clear"></div>
</div>

<div class="footer">
	<div class="footer-left">
		<p>联系我们</p>
		<div>
			<p>电话:</p>
			<p>邮箱</p>
			<p>地址</p>
		</div>
		<p>ICP</p>
	</div>
	<div  class="footer-right">
		<p>扫描二维码</p>
		<div>
			<img src="" />
		</div>
	</div>
</div>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script src="static/js/carousel.js" type="text/javascript"></script>
<script type="text/javascript">
	Carousel.init($(".poster-main"))	
</script>
</body>
</html>